@import '@shoelace-style/shoelace/dist/themes/light.css';

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#dataGrid {
    flex: 1 0 0;
}

.ag-row-even {
    background-color: rgba(0 0 0 / 0.05);
}

.ag-cell-value {
    &.right-align {
        text-align: right;
    }

    &.clickable {
        cursor: pointer;
    }

    &.warning {
        background-color: rgba(255 99 132 / 0.5);
    }
}

/* hide custom elements (i.e., Shoelace) until registered */
:not(:defined) {
    visibility: hidden;
}

.hide-while-loading {
    display: none;
}

.chart-toggles {
    display: flex;
    gap: 1em;
    margin: 1em;
}

.spinner-container {
    text-align: center;
    font-size: 300%;
    width: 100%;
}
