@import '@shoelace-style/shoelace/dist/themes/light.css';

body {
    margin: 0;
    padding: 0;
}

#myGrid {
    height: 100vh;
}

.ag-row-even {
    background-color: rgba(0 0 0 / 0.05);
}

.ag-cell-value {
    &.right-align {
        text-align: right;
    }

    &.clickable {
        cursor: pointer;
    }
}

/* hide custom elements (i.e., Shoelace) until registered */
:not(:defined) {
    visibility: hidden;
}
